*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

body{
    font-family: "Open Sans";
}

/*content*/

a{
    text-decoration: none;
    color: white;
}

#logo img{
    width: 20%;
}

main img{
    width: 100%;
}

.label{
    top: 80%;
}

.favourite{
    right: 10px;
    bottom: 85%;
    font-size: 180%;
    width: 15%;
    height: 10%;
    border-radius: 50%;
    text-align: center;
}

main ul li{
    list-style: none;
}

.brand, .cost, .discount, .material{
    font-size: 12px;
}

.product{
    font-size: 17px;
}

.disc-cost{
    color: red;
}

.og-cost{
    text-decoration: line-through;
}

/*utility*/

.bg-white{
    background-color: white;
}

.bg-orange{
    background-color: orange;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-black{
    background-color: black;
}

.color-white{
    color: white;
}

.font-w600{
    font-weight: 600;
}

.txt-left{
    text-align: left;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.v-align{
    vertical-align: middle;
}

.inl-block{
    display: inline-block;
}

/*utility-dim*/

.gap15{
    gap: 15px;
}

.p20{
    padding: 20px;
}

.p5{
    padding: 5px;
}

.m50{
    margin: 50px;
}

.m5{
    margin: 5px;
}

.h400{
    height: 400px;
}

.h200{
    height: 200px;
}

.h100{
    height: 100px;
}

.side-col{
    width: 20%;
}

.mid-col{
    width: 60%;
}

.full-col{
    width: 100%;
}

.col80{
    width: 80%;
}

.col33{
    width: 30%;
}

/*utility-flex*/

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.j-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

/*utility-position*/

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

.pos-sticky{
    position: sticky;
}