*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

body{
    font-family: "Open Sans";
}

/*content*/

a{
    text-decoration: none;
    color: white;
}

#logo img{
    width: 20%;
}

/*utility*/

.border-black{
    border: 2px solid black;
}

.bg-orange{
    background-color: orange;
}

.bg-lightgrey{
    background-color: lightgrey;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-black{
    background-color: black;
}

.color-white{
    color: white;
}

.txt-left{
    text-align: left;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.v-align{
    vertical-align: middle;
}

.inl-block{
    display: inline-block;
}

/*utility-dim*/

.p20{
    padding: 20px;
}

.m50{
    margin: 50px;
}

.h400{
    height: 400px;
}

.h200{
    height: 200px;
}

.h100{
    height: 100px;
}

.side-col{
    width: 20%;
}

.mid-col{
    width: 60%;
}

.full-col{
    width: 100%;
}

.col80{
    width: 80%;
}

.col33{
    width: 33%;
}

/*utility-flex*/

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.j-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

/*utility-position*/

.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.pos-fixed{
    position: fixed;
}

.pos-sticky{
    position: sticky;
}